<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.calvin.lv33.Lab05">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Logan Lab05"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Lab05">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lab05about"></activity>
    </application>

</manifest>